.add-search-box {
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  position: relative;
}
.add-search-box i {
  font-style: normal;
  margin-left: 30px;
  margin-right: 10px;
  color: #333;
}
.add-search-box .app-creat-btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #ff8739;
  margin-right: 40px;
  border-radius: 4px;
  cursor: pointer;
}
.add-search-box .index-date {
  border: 1px solid #cacbd7;
  height: 28px;
  line-height: 28px;
  outline: none;
  width: 238px;
  text-indent: 8px;
  background: #fff url(../images/home/rili.png) 210px 2px no-repeat;
}
.add-search-box .index-date::-ms-clear {
  display: none;
}
.add-search-box .app-selcet {
  width: 200px;
  height: 30px;
  line-height: 27px;
  border: 1px solid #cacbd7;
  border-radius: 2px;
  font-size: 16px;
  margin-left: 40px;
  text-indent: 7px;
  position: relative;
  background: #fff url(../images/home/arrow.png) 172px center no-repeat;
}
.add-search-box .app-selcet em {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  color: #999;
  font-family: "宋体";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 26px;
}
.add-search-box .selectdiv {
  z-index: 9;
  background: #fff;
  box-shadow: none;
  position: absolute;
  width: 200px;
  top: 30px;
  left: -1px;
}
.table-box-app {
  margin-top: 26px;
}
.table-box-app table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  color: #3a3a3a;
}
.table-box-app table tr th {
  height: 40px;
  font-size: 16px;
  color: #1a9af3;
  text-align: center;
  border-bottom: 2px solid #1a9af3;
}
.table-box-app table tr td {
  height: 74px;
  line-height: 74px;
  background: #f5f5f5;
  text-align: center;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  font-family: "Arial";
  border-bottom: 1px solid #e3e4e6;
}
.table-box-app table tr td.allTotal {
  text-align: left;
  font-size: 16px;
  color: #333;
  padding-left: 16px;
  background: #f2f7fc;
}
.table-box-app table tr td.allTotal.all {
  text-align: center;
}
.table-box-app table tr td.app-game-name {
  text-align: left;
}
.table-box-app table tr td.app-game-img {
  width: 120px;
}
.table-box-app table tr td.app-hover-text-edit span {
  color: #ff8739;
  display: block;
  line-height: 1px;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.table-box-app table tr td.app-hover-text-del span {
  color: #ff8739;
  display: block;
  line-height: 1px;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.table-box-app .game-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #cdcbd7;
  display: block;
  margin-left: 20px;
}
.table-box-app .app-detail {
  color: #1a9af3;
}
.table-box-app table tbody tr:hover td {
  background: #cee5ff;
  color: #1a1a1a;
}
.table-box-app table tbody td:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
}
.table-box-app table tr td div img {
  display: block;
  margin: 0 auto;
  padding-top: 17px;
}
