html,
body {
  background: #e9effb;
  font-family: "Microsoft YaHei";
}
/* login.html */
.login_img_bg {
  display: block;
  z-index: -10;
}
.login_box_center {
  position: absolute;
  width: 760px;
  height: 619px;
  left: 50%;
  top: 50%;
  margin-left: -380px;
  margin-top: -324px;
  z-index: 1;
}
.login_box_center .login-title-img {
  display: block;
  margin: 0 auto 52px;
}
.login_box_center .login_box {
  width: 760px;
  height: 476px;
  margin: 0 auto;
  background: url(../images/login_bg.png) 0 0 no-repeat;
}
.login_box_center .login_box .login-top {
  height: 103px;
}
.login_box_center .login_box .login_input {
  width: 360px;
  height: 42px;
  margin: 0 auto 22px;
  position: relative;
}
.login_box_center .login_box .login_input .login_icon {
  height: 23px;
  position: absolute;
  left: 15px;
  top: 9px;
}
.login_box_center .login_box .login_input .login_icon.code {
  left: 18px;
}
.login_box_center .login_box .login_input .login_vcode {
  height: 40px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.login_box_center .login_box .login_input .login_text {
  width: 100%;
  height: 100%;
  line-height: 42px;
  border: 0;
  outline: none;
  text-indent: 77px;
  font-size: 14px;
  color: #333;
  font-family: "Microsoft YaHei";
  background: url(../images/login_input.png) 0 0 no-repeat;
}
.login_box_center .login_box .login_input .login_text:focus {
  background: url(../images/login_input_on.png) 0 0 no-repeat;
}
.login_box_center .login_box .login_input .login_text:-webkit-autofill {
  background: transparent !important;
  box-shadow: none;
}
.login_box_center .login_box .login_rember {
  margin: 0 auto 24px;
  width: 360px;
  font-family: "Microsoft YaHei";
  line-height: 20px;
  color: #e6e6e6;
}
.login_box_center .login_box .login_rember .login_check {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  background: url(../images/login_checkno.png) 0 0 no-repeat;
}
.login_box_center .login_box .login_rember .login_check.active {
  background: url(../images/login_checkon.png) 0 0 no-repeat;
}
.login_box_center .login_box .login_rember .rember {
  margin-left: 14px;
}
.login_box_center .login_box .login_rember a {
  color: #e6e6e6;
}
.login_box_center .login_box .login_rember a:hover {
  color: #fff;
  transition: all .2s;
}
.login_box_center .login_box .login_btn {
  margin: 0 auto;
  background: #46e0dd;
  width: 360px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  font-family: "Microsoft YaHei";
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  border: 0;
  outline: none;
  transition: all .2s;
}
.login_box_center .login_box .login_btn:hover {
  background: #6ee9e7;
}
.top-content-doc {
  height: 80px;
  background: #3D4584;
}
.top-content-doc.doc-fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}
.top-content-box-doc {
  height: 80px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.top-content-box-doc.doc {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.top-content-box-doc .logo-icon {
  height: 56px;
  margin-top: 12px;
  margin-right: 91px;
}
.top-content-box-doc .nav li {
  display: block;
  float: left;
  position: relative;
  padding: 0 8px;
  line-height: 80px;
  margin-right: 88px;
}
.top-content-box-doc .nav li .sdk {
  position: absolute;
  top: 80px;
  left: -14px;
  display: none;
  z-index: 12;
}
.top-content-box-doc .nav li .sdk a {
  background: rgba(0, 0, 0, 0.75);
  display: block;
  width: 107px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #d9d9d9;
  font-size: 16px;
  margin-bottom: 1px;
}
.top-content-box-doc .nav li .sdk a:hover {
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
}
.top-content-box-doc .nav li .lines {
  display: block;
  width: 0px;
  height: 8px;
  background: #6EE9E7;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -ms-transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
}
.top-content-box-doc .nav li a {
  display: block;
  font-size: 16px;
  color: #fafafa;
  transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -ms-transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
}
.top-content-box-doc .nav li:hover .lines,
.top-content-box-doc .nav li.current .lines {
  color: #6EE9E7;
  width: 100%;
  left: 0;
}
.top-content-box-doc .nav li:hover a,
.top-content-box-doc .nav li.current a {
  color: #6EE9E7;
}
.top-content-box-doc .nav li:hover .sdk {
  display: block;
}
.top-content-box-doc .nav li:hover .sdk a {
  background: rgba(0, 0, 0, 0.75);
  color: #d9d9d9;
}
.top-content-box-doc .nav li:hover .sdk a:hover {
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
}
.top-content-box-doc .reg-login {
  height: 80px;
  line-height: 80px;
}
.top-content-box-doc .reg-login a {
  color: #ebebeb;
  font-size: 14px;
  transition: all ease-in-out 0.6s;
  -o-transition: all ease-in-out 0.6s;
  -ms-transition: all ease-in-out 0.6s;
  -moz-transition: all ease-in-out 0.6s;
  -webkit-transition: all ease-in-out 0.6s;
}
.top-content-box-doc .reg-login a:hover {
  color: #fff;
}
.top-content-box-doc .reg-login .lines {
  margin: 0 8px 0;
  color: #ebebeb;
  font-size: 14px;
}
.top-content-box-doc .top-out {
  position: absolute;
  right: 20px;
  top: 42px;
}
.top-content-box-doc .top-out li {
  position: relative;
}
.top-content-box-doc .top-out li .user {
  width: 128px;
  height: 40px;
  display: block;
  background: url(../images/zhanghu.png) 90px 0 no-repeat;
  transition: all 0.2s ease-in;
  position: relative;
}
.top-content-box-doc .top-out li .user:hover {
  background: url(../images/zhanghu2.png) 90px 0 no-repeat;
}
.top-content-box-doc .top-out li .user:hover .header-pre-icon {
  border-color: #6ee9e7;
}
.top-content-box-doc .top-out li .user .header-pre-icon {
  position: absolute;
  right: 3px;
  bottom: 16px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  vertical-align: middle;
}
.top-content-box-doc .top-out li ul {
  display: none;
}
.top-content-box-doc .top-out li ul li {
  width: 128px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 18px;
  background: #404354;
  border-bottom: 1px solid #5a5a5a;
  color: #c9c6c6;
  cursor: pointer;
}
.top-content-box-doc .top-out li ul li img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 10px;
}
.top-content-box-doc .top-out li ul li:hover {
  background: #2c2f41;
  color: #fafafa;
}
.top-content-box-doc .top-out li:hover ul {
  display: block;
}
.box-content {
  position: absolute;
  top: 80px;
  width: 100%;
}
.left-content {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 199px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: 1000;
}
.main-content {
  position: absolute;
  top: 0;
  left: 199px;
  right: 0;
  overflow: inherit;
}
.left-content-doc-resoure {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: 12;
}
.left-content-doc-resoure .doc-bar {
  width: 100px;
  background: #3d4584;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
}
.left-content-doc-resoure .doc-bar h1 {
  color: #fafafa;
  font-size: 18px;
  text-align: center;
  height: 52px;
  line-height: 52px;
  font-weight: normal;
}
.left-content-doc-resoure .doc-bar h1.on {
  background: #030f70;
}
.left-content-doc-resoure .doc-bar ul {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
}
.left-content-doc-resoure .doc-bar ul .bar-line {
  width: 80px;
  display: block;
  text-align: center;
  border-top: 1px solid #a0a09e;
  color: #fafafa;
  font-size: 16px;
  margin: 28px auto 20px;
}
.left-content-doc-resoure .doc-bar ul .arrow {
  position: absolute;
  width: 13px;
  height: 25px;
  background: url(../images/bar-arrow.png) 0 0 no-repeat;
  right: 0;
  top: 71px;
  transition: all 0.2s ease-in;
  animation: arrowshow 500ms;
  -webkit-animation: arrowshow 500ms;
}
.left-content-doc-resoure .doc-bar ul li {
  margin-top: 16px;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #fafafa;
  text-align: center;
  height: 60px;
  line-height: 90px;
  transition: all 0.2s ease-in;
  animation: arrowshow 500ms;
  -webkit-animation: arrowshow 500ms;
  cursor: pointer;
}
.left-content-doc-resoure .doc-bar ul li.longyuan {
  background: url(../images/home/longyuan-item.png) center 0 no-repeat;
}
.left-content-doc-resoure .doc-bar ul li.longyuan.active,
.left-content-doc-resoure .doc-bar ul li.longyuan:hover {
  color: #69D9DD;
  background: url(../images/home/longyuan-item-h.png) center 0 no-repeat;
}
.left-content-doc-resoure .doc-bar ul li.game {
  line-height: 70px;
  background: url(../images/home/game-item.png) center 10px no-repeat;
}
.left-content-doc-resoure .doc-bar ul li.game.active,
.left-content-doc-resoure .doc-bar ul li.game:hover {
  color: #69D9DD;
  background: url(../images/home/game-item-h.png) center 10px no-repeat;
}
.left-content-doc-resoure .doc-bar ul li.count {
  background: url(../images/home/count-item.png) center 0 no-repeat;
  line-height: 100px;
}
.left-content-doc-resoure .doc-bar ul li.count.active,
.left-content-doc-resoure .doc-bar ul li.count:hover {
  color: #69D9DD;
  background: url(../images/home/count-item-h.png) center 0 no-repeat;
}
.main-content-doc-resoure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: inherit;
}
.main-box-doc-resoure {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0 70px;
  min-height: 700px;
}
.main-box-doc-resoure .location-bread-doc {
  font-size: 14px;
  color: #666;
  margin-left: 0px;
}
.main-box-doc-resoure .location-bread-doc a {
  color: #f40;
}
.accordion .accordion-title {
  height: 66px;
  line-height: 66px;
  text-align: center;
  color: #333;
  font-size: 24px;
}
.accordion h3 {
  width: 199px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
}
.accordion h3 a {
  color: #333;
  display: block;
  height: 100%;
}
.accordion h3.active,
.accordion h3:hover {
  background: #6ee9e7;
  transition: all 0.2s ease-in;
}
.accordion h3.active a,
.accordion h3:hover a {
  color: #fff;
}
.accordion h3 img {
  vertical-align: middle;
  margin-left: 34px;
  margin-right: 16px;
}
.accordion ul {
  padding-bottom: 20px;
}
.accordion ul li {
  margin-top: 20px;
  padding-left: 73px;
}
.accordion ul li img {
  margin-right: 10px;
}
.accordion ul li a {
  font-size: 14px;
  color: #666;
}
.accordion ul li a:hover {
  color: #1a9af3;
  transition: all 0.2s ease-in;
}
.accordion-doc {
  margin-top: 25px;
}
.accordion-doc h3 {
  width: 199px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #333;
  font-weight: normal;
  margin-top: 15px;
  text-align: center;
  background: url(../images/left-nav.png) 158px center no-repeat;
  transition: all 0.2s ease-in;
}
.accordion-doc h3 a {
  color: #333;
}
.accordion-doc h3.active,
.accordion-doc h3:hover {
  background: #6EE9E7 url(../images/left-nav-h.png) 158px center no-repeat;
  color: #fff;
}
.accordion-doc h3.active a,
.accordion-doc h3:hover a {
  color: #fff;
}
.accordion-doc h3.nobg {
  background: url(../images/left-nav.png) -999999px center no-repeat;
}
.accordion-doc h3.nobg.active,
.accordion-doc h3.nobg:hover {
  background: #6EE9E7 url(../images/left-nav-h.png) -999999px center no-repeat;
  color: #fff;
}
.accordion-doc h3.nobg.active a,
.accordion-doc h3.nobg:hover a {
  color: #fff;
}
.accordion-doc ul li {
  margin-top: 16px;
  font-family: "微软雅黑";
  color: #fafafa;
  height: 60px;
  line-height: 60px;
  transition: all 0.2s ease-in;
  animation: arrowshow 500ms;
  -webkit-animation: arrowshow 500ms;
  cursor: pointer;
}
.accordion-doc ul li a {
  display: block;
  height: 100%;
  color: #333;
  font-size: 16px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.accordion-doc ul li.longyuan {
  background: url(../images/home/longyuan-icon.png) 44px center no-repeat;
}
.accordion-doc ul li.longyuan a {
  text-indent: 40px;
}
.accordion-doc ul li.longyuan.active,
.accordion-doc ul li.longyuan:hover {
  color: #69D9DD;
  background: url(../images/home/longyuan-icon-h.png) 44px center no-repeat;
}
.accordion-doc ul li.longyuan.active a,
.accordion-doc ul li.longyuan:hover a {
  color: #8ac3ff;
}
.accordion-doc ul li.game {
  background: url(../images/home/haoran-icon.png) 44px center no-repeat;
}
.accordion-doc ul li.game a {
  text-indent: 50px;
}
.accordion-doc ul li.game.active,
.accordion-doc ul li.game:hover {
  color: #69D9DD;
  background: url(../images/home/haoran-icon-h.png) 44px center no-repeat;
}
.accordion-doc ul li.game.active a,
.accordion-doc ul li.game:hover a {
  color: #8ac3ff;
}
.accordion-doc ul li.count {
  background: url(../images/home/tongji-icon.png) 44px center no-repeat;
}
.accordion-doc ul li.count a {
  text-indent: 40px;
}
.accordion-doc ul li.count.active,
.accordion-doc ul li.count:hover {
  color: #69D9DD;
  background: url(../images/home/tongji-icon-h.png) 44px center no-repeat;
}
.accordion-doc ul li.count.active a,
.accordion-doc ul li.count:hover a {
  color: #8ac3ff;
}
.main-box {
  padding: 28px 20px 30px;
  padding-bottom: 100px;
  min-height: 700px;
}
.location-bread {
  font-size: 14px;
  color: #666;
}
.location-bread a {
  color: #F40;
}
@keyframes arrowshow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.platform-update-tab {
  height: 140px;
  text-align: center;
  position: relative;
}
.platform-update-tab .arrow {
  border-width: 15px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  height: 0;
  left: 30%;
  position: absolute;
  bottom: 0;
  width: 0;
  z-index: -1;
  transition: all 0.2s ease-in;
  animation: arrowshow 500ms;
  -webkit-animation: arrowshow 500ms;
}
.platform-update-tab li {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin-right: 102px;
  margin-top: 40px;
  position: relative;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.platform-update-tab li.android {
  background: url(../images/home/android-tab.png) 0 0 no-repeat;
}
.platform-update-tab li.android:hover,
.platform-update-tab li.android.active {
  background: url(../images/home/android-tab-h.png) 0 0 no-repeat;
}
.platform-update-tab li.ios {
  background: url(../images/home/ios-tab.png) 0 0 no-repeat;
}
.platform-update-tab li.ios:hover,
.platform-update-tab li.ios.active {
  background: url(../images/home/ios-tab-h.png) 0 0 no-repeat;
}
.platform-update-tab li.unity {
  margin-right: 0;
  background: url(../images/home/unity-tab.png) 0 0 no-repeat;
}
.platform-update-tab li.unity:hover,
.platform-update-tab li.unity.active {
  background: url(../images/home/unity-tab-h.png) 0 0 no-repeat;
}
.platform-update-tab-box {
  background: #fff;
  padding: 28px 146px 20px;
  word-break: break-all;
}
.platform-update-tab-box .update-history {
  display: none;
}
.platform-update-tab-box .update-history.active {
  display: block;
}
.platform-update-tab-box .history-title {
  height: 36px;
  color: #333;
  font-size: 16px;
  background: url(../images/home/history-bg.png) center bottom no-repeat;
}
.platform-update-tab-box .history-title a {
  color: #3f91eb;
}
.platform-update-tab-box .history-title a:hover {
  color: #83c0ff;
}
.platform-update-tab-box .dot-speak {
  padding: 20px 0 25px;
  color: #333;
  font-size: 18px;
}
.platform-update-tab-box .dot-speak span {
  font-size: 16px;
  color: #666;
}
.platform-update-tab-box p {
  font-size: 14px;
  color: #666;
  line-height: 1.8;
  word-break: break-all;
}
.platform-update-tab-box .download-btn {
  width: 300px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  color: #83c0ff;
  border: 1px solid #83c0ff;
  margin-right: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 41px auto 0;
  transition: all 0.2s ease-in;
  position: relative;
}
.platform-update-tab-box .download-btn:before {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transition: transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
}
.platform-update-tab-box .download-btn:hover:before {
  color: #fff;
  background: rgba(131, 192, 255, 0.2);
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.platform-update-tab-history {
  height: 40px;
  text-align: center;
  position: relative;
  margin-top: 28px;
  margin-bottom: 44px;
}
.platform-update-tab-history li {
  display: inline-block;
  width: 306px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  border-right: 1px solid #83c0ff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.platform-update-tab-history li.android {
  background: url(../images/home/history-android.png) 0 0 no-repeat;
}
.platform-update-tab-history li.android:hover,
.platform-update-tab-history li.android.active {
  background: url(../images/home/history-android-h.png) 0 0 no-repeat;
}
.platform-update-tab-history li.ios {
  background: url(../images/home/history-ios.png) 0 0 no-repeat;
}
.platform-update-tab-history li.ios:hover,
.platform-update-tab-history li.ios.active {
  background: url(../images/home/history-ios-h.png) 0 0 no-repeat;
}
.platform-update-tab-history li.unity {
  margin-right: 0;
  background: url(../images/home/history-unity.png) 0 0 no-repeat;
}
.platform-update-tab-history li.unity:hover,
.platform-update-tab-history li.unity.active {
  background: url(../images/home/history-unity-h.png) 0 0 no-repeat;
}
.update-history-main {
  padding-left: 20px;
}
.platform-update-history-box {
  display: none;
  background: url(../images/home/bg.png) -8px 0 repeat-y;
  padding-bottom: 30px;
}
.platform-update-history-box.active {
  display: block;
}
.platform-update-history-box .item {
  margin-left: 35px;
  position: relative;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.platform-update-history-box .item .tit {
  width: 46px;
  height: 22px;
  position: absolute;
  top: 20px;
  left: -43px;
  background: url(../images/home/tit.png) 0 0 no-repeat;
}
.platform-update-history-box .item .text {
  padding: 12px 10px 30px 15px;
}
.platform-update-history-box .item .text .dot-speak {
  color: #333;
  font-size: 18px;
  padding-bottom: 22px;
}
.platform-update-history-box .item .text .dot-speak img {
  margin-left: 16px;
  vertical-align: middle;
}
.platform-update-history-box .item .text .dot-speak a {
  width: 200px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  color: #f40;
  border: 1px solid #f40;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.platform-update-history-box .item .text .dot-speak a:hover {
  background: #f40;
  color: #fff;
}
.platform-update-history-box .item .text .dot-speak a.downloadFail {
  background: #999;
  border: 1px solid #ccc;
  color: #ccc;
}
.platform-update-history-box .item .text .dot-speak a.downloadFail:hover {
  background: #999;
  color: #ccc;
  cursor: default;
}
.platform-update-history-box .item .text .time {
  font-size: 14px;
  color: #666;
  line-height: 1.8;
  word-break: break-all;
}
.platform-update-history-box .item .text .info {
  position: relative;
  word-break: break-all;
}
.platform-update-history-box .item .text .info .title {
  position: absolute;
  width: 100px;
  left: 0;
  top: 2px;
  font-size: 14px;
  color: #666;
}
.platform-update-history-box .item .text .info p {
  padding-left: 70px;
  font-size: 14px;
  color: #666;
  line-height: 1.8;
  word-break: break-all;
}
.add-search-box {
  margin-top: 28px;
  margin-bottom: 28px;
  position: relative;
}
.add-search-box .creat-btn {
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  color: #f40;
  border: 1px solid #f40;
  margin-right: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.add-search-box .creat-btn:hover {
  background: #f40;
  color: #fff;
}
.add-search-box .search-box {
  width: 300px;
  height: 30px;
  position: relative;
}
.add-search-box .search-box .search-input {
  border: 1px solid #cacbd7;
  color: #999;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 0;
  padding-left: 40px;
  padding-right: 40px;
  outline: none;
  width: 300px;
  background: #fff url(../images/home/search.png) 10px 3px no-repeat;
}
.add-search-box .search-box .search-input:focus {
  color: #000;
}
.add-search-box .search-box .search-input::-ms-clear {
  display: none;
}
.add-search-box .search-box .search-del {
  position: absolute;
  top: 4px;
  right: 10px;
  display: none;
}
.page-tab-way {
  background: #fff;
  height: 40px;
  text-align: center;
}
.page-tab-way span a {
  display: inline-block;
  margin-top: 5px;
  color: #8ac3ff;
  font-size: 16px;
  font-family: "Arial";
  width: 100px;
  height: 30px;
  line-height: 28px;
  border-radius: 15px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.page-tab-way span a.active,
.page-tab-way span a:hover {
  color: #fff;
  background: #8ac3ff;
}
.table-box-app {
  margin-top: 10px;
  background: #fff;
}
.table-box-app .data-list {
  border-collapse: collapse;
  border-spacing: 0;
  color: #3a3a3a;
  width: 100%;
  border: 0;
}
.table-box-app .data-list tr th {
  height: 50px;
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.table-box-app .data-list tr td {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #666;
  font-size: 14px;
  font-family: "Arial";
  border: 1px solid transparent;
  transition: background 0.2s ease-in;
  border-bottom: 1px solid #ebebeb;
  border-right: 0px;
  border-left: 0px;
}
.table-box-app .data-list tr td .small-banner {
  width: 107px;
  height: 30px;
  vertical-align: middle;
}
.table-box-app .data-list tr td .news {
  text-align: left;
  line-height: 1.8;
  display: block;
  padding: 10px 0;
}
.table-box-app .data-list tr td .operate-tool {
  width: 108px;
  height: 50px;
  margin: 0 auto;
}
.table-box-app .data-list tr td .operate-tool .edit {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background: url(../images/home/table-edit.png) 0 0 no-repeat;
}
.table-box-app .data-list tr td .operate-tool .edit:hover {
  background: url(../images/home/table-edit-h.png) 0 0 no-repeat;
}
.table-box-app .data-list tr td .operate-tool .del {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background: url(../images/home/table-del.png) 0 0 no-repeat;
}
.table-box-app .data-list tr td .operate-tool .del:hover {
  background: url(../images/home/table-del-h.png) 0 0 no-repeat;
}
.table-box-app .data-list tr td .operate-tool .up {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 9px;
  background: url(../images/home/table-up.png) 0 0 no-repeat;
}
.table-box-app .data-list tr td .operate-tool .up:hover {
  background: url(../images/home/table-up-h.png) 0 0 no-repeat;
}
.table-box-app .app-detail {
  color: #1a9af3;
  font-family: "Microsoft YaHei";
}
.table-box-app .data-list tbody tr:hover td {
  background: #b6f4f3;
  border-color: #6ee9e7;
  border-top: 2px solid #6ee9e7;
  border-bottom: 2px solid #6ee9e7;
  margin-top: -1px;
}
.table-box-app .data-list tbody tr:hover td.first {
  border-left: 2px solid #6ee9e7;
}
.table-box-app .data-list tbody tr:hover td.last {
  border-right: 2px solid #6ee9e7;
}
.page-list {
  height: 60px;
  line-height: 60px;
  background: #fff;
}
.page-list .page-text {
  font-size: 12px;
  font-family: "宋体";
  color: #666;
}
.page-list .page-text .page-total {
  color: #115dc5;
}
.page-list .page-list-go {
  margin: 14px auto;
  height: 60px;
  text-align: center;
}
.page-list .page-list-go li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #dcdbdb;
  border-radius: 15px;
  margin-left: 10px;
}
.page-list .page-list-go li.brno {
  border: 0;
}
.page-list .page-list-go li.brno:hover {
  border: 0;
}
.page-list .page-list-go li.active,
.page-list .page-list-go li:hover {
  border: 1px solid #83c0ff;
}
.page-list .page-list-go li.active a,
.page-list .page-list-go li:hover a {
  color: #83c0ff;
}
.page-list .page-list-go li.first {
  border: 0;
  background: url(../images/home/page-prve.png) center no-repeat;
  text-indent: -999999px;
}
.page-list .page-list-go li.first:hover {
  background: url(../images/home/page-prve-h.png) center no-repeat;
}
.page-list .page-list-go li.last {
  border: 0;
  background: url(../images/home/page-next.png) center no-repeat;
  text-indent: -999999px;
}
.page-list .page-list-go li.last:hover {
  background: url(../images/home/page-next-h.png) center no-repeat;
}
.page-list .page-list-go li a {
  font-size: 16px;
  color: #b3b3b3;
  display: block;
  width: 100%;
  height: 100%;
}
.resouse-download-box {
  margin-top: 25px;
}
.resouse-download-box .resouse-item {
  position: relative;
  margin-bottom: 30px;
}
.resouse-download-box .resouse-item .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
}
.resouse-download-box .resouse-item .text.flag {
  line-height: 46px;
}
.resouse-download-box .resouse-item .add-input,
.resouse-download-box .resouse-item .add-textarea {
  border: 1px solid #ebebeb;
  color: #666;
  font-size: 14px;
  margin-left: 110px;
  padding: 8px 0;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  display: block;
  width: 845px;
  border-radius: 2px;
}
.resouse-download-box .resouse-item .add-input.error,
.resouse-download-box .resouse-item .add-textarea.error {
  border: 1px solid red;
}
.resouse-download-box .resouse-item .add-input:focus,
.resouse-download-box .resouse-item .add-textarea:focus {
  color: #000;
}
.resouse-download-box .resouse-item .add-input::-ms-clear,
.resouse-download-box .resouse-item .add-textarea::-ms-clear {
  display: none;
}
.resouse-download-box .resouse-item .add-input.pic-link,
.resouse-download-box .resouse-item .add-textarea.pic-link {
  width: 298px;
}
.resouse-download-box .resouse-item .add-textarea {
  height: 196px;
  font-family: "宋体";
}
.resouse-download-box .resouse-item .resouse-upload-btn {
  margin-left: 110px;
  width: 157px;
  height: 157px;
  margin-bottom: 15px;
  background: #fff url(../images/home/pic-add.png) center 29px no-repeat;
  cursor: pointer;
  position: relative;
}
.resouse-download-box .resouse-item .resouse-upload-btn span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #999;
  font-family: "宋体";
}
.resouse-download-box .resouse-item .resouse-upload-btn span.mr {
  padding-top: 87px;
  padding-bottom: 6px;
}
.resouse-download-box .resouse-item .resouse-upload-btn input {
  position: absolute;
  left: 0;
  top: 0;
  width: 157px;
  height: 157px;
  filter: alpha(opacity=0);
  opacity: 0;
}
.resouse-download-box .resouse-item .resouse-upload-img {
  width: 845px;
  height: 140px;
  margin-left: 110px;
  position: relative;
}
.resouse-download-box .resouse-item .resouse-upload-img img {
  width: 770px;
  height: 140px;
  border-radius: 4px;
}
.resouse-download-box .resouse-item .resouse-upload-img .img-del {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 58px;
  right: 26px;
  background: url(../images/home/pic-del.png) 0 0 no-repeat;
}
.resouse-download-box .resouse-item .resouse-upload-img .img-del:hover {
  background: url(../images/home/pic-del-h.png) 0 0 no-repeat;
}
.resouse-download-box .platform-download {
  margin-left: 110px;
  line-height: 30px;
}
.resouse-download-box .platform-download.pic-link {
  margin-left: 431px;
  margin-top: -34px;
}
.resouse-download-box .platform-download strong {
  font-weight: normal;
  display: none;
}
.resouse-download-box .platform-download strong.active {
  display: inline;
}
.resouse-download-box .platform-download .platform,
.resouse-download-box .platform-download .platform-doc {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  color: #666;
  font-size: 14px;
  width: 86px;
  height: 40px;
  line-height: 38px;
  border-radius: 2px;
  border: 1px solid #fff;
  background: #fff;
  transition: all 0.2s ease-in;
}
.resouse-download-box .platform-download .platform.active,
.resouse-download-box .platform-download .platform-doc.active,
.resouse-download-box .platform-download .platform:hover,
.resouse-download-box .platform-download .platform-doc:hover {
  border-color: #6ee9e7;
  background: #daf9f9;
}
.resouse-download-box .platform-download em {
  font-style: normal;
  margin-left: 62px;
  margin-right: 40px;
  font-size: 16px;
  color: #333;
}
.resouse-download-box .platform-download .download-flag {
  cursor: pointer;
  font-style: normal;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  color: #666;
  font-size: 14px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 2px;
  border: 1px solid #fff;
  background: #fff;
  transition: all 0.2s ease-in;
}
.resouse-download-box .platform-download .download-flag.active,
.resouse-download-box .platform-download .download-flag:hover {
  border-color: #6ee9e7;
  background: #daf9f9;
}
.resouse-download-box .resouse-item-btn {
  margin-top: 110px;
  text-align: center;
}
.resouse-download-box .resouse-item-btn .resouse-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  color: #f40;
  border: 1px solid #f40;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.resouse-download-box .resouse-item-btn .resouse-btn:hover {
  background: #f40;
  color: #fff;
}
.resouse-download-box .resouse-item-btn .resouse-btn.cancel {
  color: #83c0ff;
  border: 1px solid #83c0ff;
}
.resouse-download-box .resouse-item-btn .resouse-btn.cancel:hover {
  background: #83c0ff;
  color: #fff;
}
.company-copyright-footer {
  position: fixed;
  left: 199px;
  bottom: 0;
  right: 0;
  background: #dfe1e6;
  background: #f5f5f5;
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 10px;
  z-index: 999;
}
.company-copyright-footer.resoure {
  left: 100px;
}
.company-copyright-footer a {
  color: #666;
  margin-right: 4px;
  margin-left: 4px;
}
.company-copyright-footer a:hover {
  color: #8ac3ff;
}
.company-copyright-footer .link {
  margin-bottom: 4px;
}
